@font-face {
    font-family: 'Galla';
    src: url('../fonts/GALLA.TTF') format('truetype');
    /* Agrega las demás variantes de la fuente si las tienes */
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

h1 {
    text-align: center;
    font-family: "Galla";
    margin: 25px;
    font-size: 30px;
}

@media(min-width: 768px) {
    h1 {
        font-size: 45px;
    }
}



.contenedor {
    background-color: rgb(233, 130, 130);
    width: 100%;
}

@media(min-width: 1020px) {
    .contenedor {
        width: 1020px;
    }
}


article {
    max-width: 1020px;
}

article p {
    margin: 10px;

} 



