@font-face {
    font-family: 'Galla';
    src: url('../fonts/GALLA.TTF') format('truetype');
    /* Agrega las demás variantes de la fuente si las tienes */
  }
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    
}

.titulo {
    padding-top: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-family: Galla;
    font-size: 30px;
    max-width: 95vw;
    max-height: 95vh;
    text-align: center;
}


@media(min-width: 768px) {
    .titulo {
        font-size: 50px;        
    }
}

.cuadricula {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 25% 1fr 25% 1fr 25% 1fr;
    grid-template-rows: 1fr 25% 1fr 25% 1fr 25% 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vh;
    }

@media (orientation: portrait) {
    .cuadricula {
        display: grid;
        grid-template-columns: 1fr 25% 1fr 25% 1fr 25% 1fr;
        grid-template-rows: 1fr 25% 1fr 25% 1fr 25% 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vw;
        width: 100vw;
        }
}


.menu {
    grid-area: 4 / 4 / 5 / 5;
    
}

/* EMPIEZA LO DE METER TODAS LAS IMAGENES JUNTAS */


.checkbox {   /*oculta el checkbox */
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.agrupador {
    position: relative;
    display: flex; /* Alinea las imágenes horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    height: 100%;
}

.label_checkbox, .menu_link {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    transition: transform 0.3s,
    background-color 0.3s, box-shadow 0.3s;
}

.menu_img, .menu_link-img {  /* con esto conseguimos que la imagen del logo este dentro del div */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}









/* EMPIEZAN SOMBRAS Y TRANSFORMACIONES */

.label_checkbox:hover {
    box-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
}

.label_checkbox:hover~ body {
    background-color: black;
}

.menu_link{
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0);
}

.menu_link:hover {
    background-color: lightgray;
}

.menu_link:hover:nth-child(7) {
    background-color: #00e278;
}

.checkbox:checked~ .label_checkbox {
    transform: rotate(45deg);
}

.checkbox:checked~ .menu_link {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}


/* productos */
.checkbox:checked~ .menu_link:nth-child(3) { 
    transform: translateY(-140px);
}

/* envio */
.checkbox:checked~ .menu_link:nth-child(4) {
    transform: translate(-99px, -99px);
}

/* contacto */
.checkbox:checked~ .menu_link:nth-child(5) {
    transform: translate(99px, 99px);
}

/* historia */
.checkbox:checked~ .menu_link:nth-child(6) {
    transform: translate(-99px, 99px);
}

/* wathsapp */
.checkbox:checked~ .menu_link:nth-child(7) {
    transform: translateY(140px);
}

/* localicacion */
.checkbox:checked~ .menu_link:nth-child(8) {
    transform: translateX(140px);
}

/* galeria */
.checkbox:checked~ .menu_link:nth-child(9) {
    transform: translateX(-140px);
}

/* informacion */
.checkbox:checked~ .menu_link:nth-child(10) {
    transform: translate(99px, -99px);
}
