@font-face {
    font-family: 'Galla';
    src: url('fonts/GALLA.TTF') format('truetype');
    /* Agrega las demás variantes de la fuente si las tienes */
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;

}

h1 {
    text-align: center;
    font-family: "Galla";
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 50px 25px 50px 25px;
    max-width: 800px;
    min-width: 800px;
}

.texto_legal {
    margin-top: 50px;
}

.logo {
    padding-top: 10px;
    display: block;
    margin: auto;
    width: 75px;
    height: 75px;
}

.situacion {
    padding-top: 10px;
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    max-width: 600px;
}




