@font-face {
    font-family: 'Galla';
    src: url('../fonts/GALLA.TTF') format('truetype');
    /* Agrega las demás variantes de la fuente si las tienes */
  }

  @font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  }

  


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(201, 197, 197);
}

h1 {
    text-align: center;
    font-family: "Galla";
    margin: 25px;
    font-size: 30px;
}

@media(min-width: 768px) {
    h1 {
        font-size: 45px;
    }
}

h2 {
    font-size: 20px;
    font-family: 'roboto';
    padding-top: 20px;
}


.contenedor {
    border-top: 1px solid grey;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

@media(min-width: 1020px) {
    .contenedor {
        width: 1020px;
    }
}


article {
    max-width: 1020px;
    padding: 15px;
}

article p {
    margin: 10px;
    font-family: 'Roboto';
    text-indent: 2em;
} 

.btn-flotante {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
  }
  
  .btn-flotante img {
    display: block;
    width: 60px; /* Ajusta esto al tamaño que desees */
    height: 60px; /* Asegúrate de que el ancho y el alto sean iguales para un círculo perfecto */
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    object-fit: cover; /* Esto asegura que la imagen cubra todo el espacio del botón, sin distorsionarse */
  }
  

